.fourthRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 878px;
    height: 155px;
    margin-bottom: 1rem;
}

.userStorage{
    display: inline-flex;
    position: relative;
    width: 60%;
    height: 100%;
    border: 1px solid black;
    margin-right: 0.5rem;
}

.storage{
    display: inline-flex;
    position: relative;
    width: 40%;
    height: 100%;
    border: 1px solid black;
    margin-left: 0.5rem;
}