@font-face {
    font-family: "Poppins-Regular";
    src: url(../Poppins/Poppins-Regular.ttf);
}



.contenedorMarketShareTarjetaWeather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: lightgrey;
    gap: 20px;
    font-family: "Poppins-Regular";
}
.contenedorMarketShare{
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    justify-content: space-between;
}
.azulOscuroMarketShare,.azulClaroMarketShare, .grisMarketShare{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    align-self: center;
}
.contenedorCirculoTituloMarketShare{
    display: flex;
    flex-wrap: nowrap;
    gap:10px;
}
.azulOscuroMarketShare{
    background-color: blue;
}
.azulClaroMarketShare{
    background-color: lightskyblue;
}
.grisMarketShare{
    background-color: lightgray;
}
.TarjetaMarketShare, .TarjetaWeather{
    background-color: white;
    padding: 1.25rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
}
.imagenWeather{
    margin-left: 1rem;
    height: 60px;
    margin-right:1rem ;
    align-self: center;
}
.tituloNombreCiudad{
    margin: 0;
    margin-bottom: 0.5rem;
}
.contenedorImagenWeatherCiudadNombreContenedorWeather{
    display: flex;
    flex-wrap: nowrap;
    padding-top: 0.5rem;
}
.contenedorTemperaturaCiudadNombreWeather{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.tempertaturaContenedorWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tempWeather{
    line-height: 1;
    font-size: 2.0736rem;
    color: #2c7be5;
}
.botonTemperaturaWeather{
    cursor: pointer;
    
}
.svgbuttonWeather{
    width: 1em;
    height: 1em;
    font-size:0.69444rem; 

}