@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{  
    --backgroundcolor: #edf2f9;
    --divider:#d8e2ef;
    --backgroungtag:  #d5e5fa;
    --sidebartext: #5e6e82;
    --blue: #2c7be5;
    --indigo: #727cf5;
    --purple: #6b5eae;
    --pink: #ff679b;
    --red: #e63757;
    --orange: #fd7e14;
    --yellow: #f5803e;
    --green: #00d27a;
    --teal: #02a8b5;
    --cyan: #27bcfd;
    --white: #fff;
    --gray: #748194;
    --gray-dark: #4d5969;
    --primary: #2c7be5;
    --secondary: #748194;
    --success: #00d27a;
    --info: #27bcfd;
    --warning: #f5803e;
    --danger: #e63757;
    --light: #f9fafd;
    --dark: #0b1727;
    --black: #000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1540px;
    --font-family-sans-serif: "Poppins";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    line-height: 1.8;
    font-weight: 500;
}

body{
    background-color: var(--backgroundcolor);
}


/*Contenedor General*/

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 2350px;
    width: 1200px;
    padding-inline: 15px;
    right: 1rem;
    left: 12rem;
}


/* Sidebar */

.sidebarWrapper{
    padding-inline: 15px;
    margin-right: 1rem;
    display: block;
    position: fixed;
    width: 100%;
    max-width: fit-content;
    top: 0;
    padding-top: 0.6rem;
}


.sideCollapser {
    visibility: visible;
    background-color: var(--backgroundcolor);
    position: relative;
    display: inline-block;
    width: 215px;
    transition: all .2s ease-in-out;
    padding-top: 0.6rem;
    height: calc(100vh - 4.3125rem);
    overflow-y: auto;
}




/* Scrollbar */

.scrollbar {
    scrollbar-color: rgba(116,129,148,.3) transparent;
    scrollbar-width: thin;
    overflow: auto;
}



/* Tooltip/Toggle */

.toggleContainer {
    width: 180px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundcolor);
    z-index: 100;
}

.tooltipContainer {
    position: relative;
    background-color: var(--black);
    width: 135px;
    border-radius: 4px;
    display: none;
    right: 95%;
    margin-top: -20px;
    position: absolute;
    z-index: 1;
    height: 35px;
}

.tooltip{
    font-size: 13px;
    color: var(--backgroundcolor);
    text-align: center;
    padding: 10px 5px 5px 8px;
}

.tooltipContainer .tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; 
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.toggleContainer:hover .tooltipContainer {
    display: block;
}

.hidden {
    display: none;
}


/* Menu Icon */

.iconContainer {
    display: inline-flex;
    width: 30%;
    height: 100%;
    margin-top: 1rem;
}

.iconToggle {
    height: 3rem;
    width: 3rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent; 
    border: 1px solid transparent;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.iconToggle:hover {
    background-color: #d9e3f5; 
}

.iconToggle.clicked {
    border: 3.5px solid #c7d8ed;
    background-color: #d9e3f5;  
}

.navbar-toggle-icon {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 2.2px;
    background-color: var(--sidebartext);
    border-radius: 3px;
}

.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
    content: '';
    position: absolute;
    width: 20px;
    background-color: var(--sidebartext);
    border-radius: 2px;
    margin-left: -10px;
}

.navbar-toggle-icon::before {
    height: 2px;
    top: -5px;
}

.navbar-toggle-icon::after {
    bottom: -6px;
    height: 1.7px;
}

.iconToggle.clicked .navbar-toggle-icon{
    width: 12px;
    margin-left: -5px;
}

.iconToggle.clicked .navbar-toggle-icon::before,
.iconToggle.clicked .navbar-toggle-icon::after{
    width: 18px;
    margin-left: -7px;
}


/* eliminar */

.logoContainer {
    display: inline-flex;
    width: 70%;
    height: 100%;
    border:#0b1727 solid 1px;
}

/* eliminar */


/* Chevron */

#downchevroninner {
    display: inline-flex;
    font-weight:lighter;
    color: var(--sidebartext);
    justify-self: right;
    height: 20px;
    width: 15px;
    align-self: center;
    margin-right: 1rem;
    transition: all .2s ease-in-out;
    transform-origin: center;
}

#downchevroncategories .cls-1 {
    color: var(--sidebartext);
    height: 20px;
    width: 20px;
    transition: all .2s ease-in-out;
    transform-origin: center;
}


/* Listas */

.navTitle {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin-left: 0.5rem;
}


.navIcon {
    width: 18px;
    height: 16px;
    margin-top: 0.1rem;
}


.navItem,
.dobbleDrop,
.dropItems {
    list-style: none;
    font-size: 13px;
}


.dropdownTitle,
.dropTitle,
.dobbleDropLink,
.dobbleInnerDrop {
    text-decoration: none;
    color: var(--sidebartext);
    transition: all .2s ease-in-out;
    font-size: 13px;
}


.dropContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: normal;
}


.itemContainer {
    display: flex;
    padding: 0.5rem 1rem;
    position: relative;
    height: 35px;
}


.innerDrop {
    margin-left: 2.5rem;
}

.dobbleInnerDrop{
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    margin-left: 1.2rem;
    overflow: hidden;
}


.dobbleInnerDrop.active,
.innerDrop.active {
    max-height: 1000px; 
}


.innerDrop {
    max-height: 0;
    transition: max-height 0.3s  ease-in-out;
    margin-left: 2.5rem;
    overflow: hidden;
}


.dobbleDrop{
    overflow: hidden;
}


.dropdownTitle{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s  ease-in-out;
}


#altdash {
    color: var(--blue)
}

.dropdownTitle:hover,
.dropTitle:hover,
.dobbleDropLink:hover,
.dobbleInnerDrop:hover{
    color: var( --dark);
}



/* Sidebar Tags */


.tagContainer {
    display: flex;
    padding: 0.5rem 1rem;
    position: relative;
    padding-left: 0;
    width: 100%;
}

.minTagnew {
    display: inline-flex;
    height: 16px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ccf6e4;
    color: #118f5b;
    font-weight: 500;
    font-size: 10px;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.tagContainerBottom {
    margin-left: 0.5rem;
    width: 100%;
}

.minTag {
    display: inline-block;
    border-radius: 35px;
    width: 50px; 
    text-align: center;
    background-color: var(--backgroungtag);
    color: var(--blue);
    font-weight: 600;
    height: 20px;
    font-size: 10.5px;
    margin-left: 3px; 
}

.logIcon {
    margin-left: 0.5rem;
} 

.log {
    margin-left: 0;
}



/* Purchase Sidebar Button */


.buttonContainer{
    display: block;
    width: 205px;
    height: 32px;
    padding-inline: 0.2rem;
}

.purchaseSidebar {
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    border-radius: 5px;
    border: var(--blue) solid;
}

#purchaseBoton {
    color:white;
}


/* Sidebar Divisor */

.dividerContainer {
    width: 200px;
    height: 16px;
    margin-left: 0.2rem;
}

.divider {
    color: var(--divider);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


@media (max-width: 1200px){
    
    .container {
        flex-direction: column;
        padding-inline: 1rem;
        max-width: 1140px;
    }

    .sideCollapser {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        max-width: 930px;
        width: fit-content;
        z-index: 2;
    }

    .sidebarWrapper{
        width: 960px;
    }

    .dividerContainer {
        width: 898px;
    }

    .buttonContainer  {
        width: 100%;
        display: block;
        padding-inline: 1rem;
    }
}  



@media (max-width: 768px){

    .container {
        max-width: 720px;
    }

    .sidebarWrapper{
        width: 690px;
    }

    .sideCollapser {
        max-width: 660px;
    }

    .dividerContainer {
        width: 658px;
    }
}



@media (max-width: 576px){

    body{
        width: 578px;
    }
    .container {
        max-width: 560px;
    }

    .sidebarWrapper{
        width: 540px;
    }

    .sideCollapser {
        max-width: 510px;;
    }

    .dividerContainer {
        width: 478px;
    }
}  













.collapsed.clicked {
    display: none;
  }