.body_totalSales{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf2f9;
    width: 522px;
    height: 388.8px;
    margin: 10px;
  }

  .card_totalSales {
    width: 522px;
    height: 388.8px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
  }

  .header_totalSales {
    background-color: white;
    color: #5e6e82;
    margin: 0px -15px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 512px;
    height: 29px;
  }

  .contenedor_header_totalSales{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    width: 512px;
    height: 29px;
    padding: 16px 20px 0px;
  }

  .h6_totalSales {
    width: 281.7px;
    height: 16px;
    padding: 0px 15px;
    font-weight: bolder;
    font-size: medium;
  }

  .select_totalSales{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125.6px;
    height: 29px;
    font-size: smaller;
    font-weight: bolder;
    color: #5e6e82;
    border-radius: 3px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
    white-space: nowrap;
    
  }

  .January{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .February{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .March{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .April{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }
  .May{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .June{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .July{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .August{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .September{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .October{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .November{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .December{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: small;
    font-weight: bold;
    color: #5e6e82;
    width: 100%;
    height: 29px;
    margin: 0px 8px 0px 0px;
    padding: 3px 32px 3px 12px;
  }

  .contenedor_sb_totalSales{
    display: flex;
    flex-direction: row;
    width:170.3px;
    height: 29px;
    padding: 0px 15px;
    align-items: center;
    text-align: left;
    justify-content: left;
    position: relative;
  }

  .button_totalSales{
    background-color: white;
    border: none;
    font-weight: bold;
    color: #748194;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.7px;
    height: 22.6px;
    padding: 3px 12px;
  }

  .contenedor_menu_b_totalSales{
    position: relative;
    display: flex;
    margin: 2px 0px 0px;
  }

  /* .contenedor_s_totalSales{

  } */

  .items_menu_totalSales{
    cursor: pointer;
    height: 28px;
    color: #5e6e82;
    width: 158.4px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu_button_totalSales > button > .remove_opt_totalSales{
    cursor: pointer;
    width: 158.4px;
    height: 28px;
    padding: 4px 16px;
    color: #e63757;
    width: 158.4px;
    height: 28px;
    display: flex;
  }

  .menu_button_totalSales {
    position: absolute;
    top: 30px;
    right: 3px;
    border: 1px solid #5e6e82;
    border-radius: 3px;
    display: flex;
    align-items: start;
    width: 158.4 px;
    height: 100.8px;
    padding: 8px 0px;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
  }



  .view_opt_totalSales , .export_opt_totalSales {
    color: #5e6e82;
    border: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
  }

  .remove_opt_totalSales{
    color: #e63757;
    border: none;
    border-top: 1px solid #5e6e82;
    background-color: white;
    text-align: left;
    padding: 4px 16px;
    width: 158.4px;
  }

  .charts_section_totalSales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 522px;
    height: 343.8px;
  }

  #chart_totalSales {
    width: 482px;
    height: 300px;
    background-color: #fff;
  }