@import url(general.css);
@import url(hover.css);
@import url(cabecera.css);

#section-saved {
height: 80%;
background-color: rgb(255, 255, 255);
}
.fill{
    object-fit: fill;
    width: 100%;
     height: 100%; 
   
}